/* Write your code here. */
.emojis-list-item {
  width: 30%;
  height: 25%;
  background: #ffffff33;
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff66;
}
@media screen and (min-width: 768px) {
  .emojis-list-item {
    width: 23%;
    height: 30%;
    max-width: 200px;
    max-height: 200px;
    padding: 40px 10px;
  }
}
.emoji-image {
  width: 60px;
}
@media screen and (min-width: 768px) {
  .emoji-image {
    width: 100px;
  }
}
